@import 'vars';

.MyOrder {
	width: 360px;
	max-height: 100vh;
	padding: 24px;
	box-sizing: border-box;
	bottom: auto;
	border-radius: 5px;
	border: 1px solid var(--very-light-pink);
	background-color: white;
}
.title-container {
	display: flex;
}
.title-container img {
	transform: rotate(180deg);
	margin-right: 14px;
}
.title {
	font-size: var(--lg);
	font-weight: bold;
}
.my-order-content {
	max-height: 50vh;
	overflow-y: auto;
}
.my-order-content::-webkit-scrollbar {
	width: 2px;
}
.my-order-content::-webkit-scrollbar-track {
	background: var(--white);
}
.my-order-content::-webkit-scrollbar-thumb {
	background: var(--very-light-pink);

}
.my-order-content::-webkit-scrollbar-thumb:hover {
	background: var(--hospital-green);
}

.order {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 16px;
	align-items: center;
	background-color: var(--text-input-field);
	margin-bottom: 24px;
	border-radius: 8px;
	padding: 0 24px;
}
.order p:nth-child(1) {
	display: flex;
	flex-direction: column;
}
.order p span:nth-child(1) {
	font-size: var(--md);
	font-weight: bold;
}
.order p:nth-child(2) {
	text-align: end;
	font-weight: bold;
}

.primary-button {
	background-color: var(--hospital-green);
	border-radius: 8px;
	border: none;
	color: var(--white);
	width: 100%;
	cursor: pointer;
	font-size: var(--md);
	font-weight: bold;
	height: 50px;
}
@media (max-width: 640px) {
	.MyOrder {
		width: 100%;
	}
}